/vendor
/node_modules

/.env
/.idea
/.vscode

/storage
/storage/*.key
/storage/logs
/storage/framework
/storage/app/public

/public/storage

/public/.htaccess
/public/.htaccess
/public/hot

/.htaccess
/index.php
.htaccess
index.php

/node_modules

npm-debug.log
yarn-error.log
.DS_Store
